#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Japanese {
            bindings = <&kp LANG1>;
            key-positions = <11 12>;
        };

        English {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <19 20>;
        };

        z {
            bindings = <&mo 3>;
            key-positions = <10 38>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W           &kp E           &kp R            &kp T                                  &kp Y      &kp U         &kp I       &kp O       &kp P
&lt 3 A  &mt LEFT_WIN S  &mt LEFT_ALT D  &mt LSHIFT F     &kp G      &kp LA(F4)      &none       &kp H      &mt RSHIFT J  &mt RALT K  &mt RWIN L  &kp LCTRL
&kp Z    &kp X           &kp C           &kp V            &kp B      &none           &none       &kp N      &kp M         &kp COMMA   &kp DOT     &kp RIGHT_SHIFT
&none    &none           &none           &lt 1 BACKSPACE  &lt 2 TAB  &kp SPACE       &kp DELETE  &kp ENTER                                        &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                             &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_SUBTRACT
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5   &kp K_MUTE        &none   &kp NUMBER_0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp KP_PLUS
&kp F6        &kp F7        &kp F8        &kp F9        &kp F10  &kp KP_EQUAL      &trans  &kp EQUAL     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_ASTERISK
&trans        &trans        &trans        &trans        &trans   &trans            &trans  &trans                                                  &kp KP_DIVIDE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE  &kp INTERNATIONAL_4  &kp LANG_ZENKAKUHANKAKU  &kp LANG5  &trans                      &kp F1  &kp F2          &kp UP_ARROW  &kp F4           &kp F5
&trans      &kp LANGUAGE_1       &kp LANGUAGE_2           &trans     &trans  &trans      &none   &kp F6  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT_ARROW  &kp F10
&trans      &trans               &trans                   &trans     &trans  &trans      &trans  &trans  &trans          &trans        &trans           &kp F11
&trans      &trans               &trans                   &trans     &trans  &trans      &trans  &trans                                                 &kp F12
            >;
        };

        Symbol {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans                &trans                 &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans                &trans                 &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                                                       &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };
    };
};
